<h1 class="logo" data-ng-hide="search.text">All Notes</h1>

<ul class="right">
    <!-- Page header -->
    <ul id="dropdown1" class="dropdown-content" data-ng-init="sortNotes('-added_at')">
        <li><a href="#!" title="Sorts the Note List by recent dates" data-ng-click="sortNotes('-added_at')">Sort By Newer</a></li>
        <li><a href="#!" title="Sorts the Note List by old dates" data-ng-click="sortNotes('added_at')">Sort By Older</a></li>
        <li><a href="#!" title="Takes you to the Settings Page" data-ui-sref="settings">Settings</a></li>
    </ul>

    <!-- Search bar -->
    <li class="search-bar input-field">
        <input id="search" type="search" data-ng-model="search.text" required>

        <label for="search" class="search-btn"><i class="material-icons">search</i></label>

        <i class="close-btn material-icons">close</i>
    </li>  
  
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-button" href="#!" title="Opens the dropdown menu with misc settings" data-activates="dropdown1" data-dropdown><i class="material-icons">more_vert</i></a></li>
</ul>