<a href="" data-ui-sref="notes" title="Takes you back to the Note List Page" class="btn-back"><i class="material-icons">arrow_back</i></a>
<h1 class="logo btn-back-sibling">New Note</h1>

<ul class="right">
    <!-- Page header -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" title="Takes you to the Settings Page" data-ui-sref="settings">Settings</a></li>
    </ul>

    <!-- Dropdown Trigger -->
    <li><a class="dropdown-button" href="#!" title="Opens the dropdown menu with misc settings" data-activates="dropdown1" data-dropdown><i class="material-icons">more_vert</i></a></li>
</ul>