<!-- List of notes -->
<ul class="note-overview collection row">
	
	<li class="col s12 m6 l4" data-ng-repeat="note in results = (notes | filter:{ body: search.text, deleted: false } | orderBy:sort.options)">
		<div class="collection-item">
			<a href="#" data-ui-sref="note({ id: note.id })">
		    	<span class="title">{{ note.title }}</span>
		    </a>

		    <span class="date">{{ note.added_at | date:'mediumDate' }}</span>

		    <p>{{ note.body | limitTo:30 }}...</p>

		    <a href="#" class="delete" data-ng-click="deleteNote(note.id)"><i class="material-icons">delete</i></a>
		</div>
	</li>

</ul>

<!-- If list is empty we need to let the user know, we need two different ones for search and just empty -->
<p data-ng-show="results.length == 0 && search.text.length == 0">You currently have no notes, to add a new note click the "+" in the right corner!</p>
<p data-ng-show="results.length == 0 && search.text.length > 0">Your search yielded no results, please try a different phrase.</p>

<!-- Floating button that takes you to the new post page -->
<a data-ui-sref="note-post()" title="Takes you to Create Note Page" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>