<section class="note-post">
	<div class="row">
	    <form name="myForm" class="note-form col s12">

	    	<!-- Note Title -->
	    	<div class="row">
	    	    <div class="input-field col s12">
	    	    	<h5>Title</h5>

	    	    	<!-- Only the input required is rendered -->
	        	  	<input name="title" data-ng-if="!settings.enableLocation" type="text" data-ng-model="note.title" required>
	        	  	<input name="title" data-ng-if="settings.enableLocation" type="text" data-ng-model="location.db" required>

	        	  	<i data-ng-show="myForm.title.$valid" data-ng-hide="myForm.title.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i data-ng-show="myForm.title.$error" data-ng-hide="myForm.title.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	        	</div>
	      	</div>

	      	<!-- Note body -->
	      	<div class="row">
	            <div class="input-field col s12">
	            	<h5>Note</h5>

	                <textarea id="body" name="body" class="materialize-textarea" data-ng-model="note.body" data-ng-init="note.body = ''" required> </textarea>

	                <i data-ng-show="myForm.body.$valid" data-ng-hide="myForm.body.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i data-ng-show="myForm.body.$error" data-ng-hide="myForm.body.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	            </div>
	       </div>

	       <div class="row" data-ng-show="error">
	       		<p class="error">{{ error }}</p>
	       </div>
	    </form>
	</div>
</section>

<!-- Floating button that takes you to the new post page -->
<a href="" title="Creates note after filling in fields properly" data-ng-click="createNote()" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">done</i></a>