<section class="note-post">
	<div class="row">
	    <form name="myForm" class="note-form col s12">

	    	<div class="row">
	    	    <div class="input-field col s12">
	    	    	<h5>Title</h5>

	        	 	<input id="title" name="title" type="text" class="validate" data-ng-init="updatedNote.title = note.title" data-ng-model="updatedNote.title" required>

	        	 	<i data-ng-show="myForm.title.$valid" data-ng-hide="myForm.title.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i data-ng-show="myForm.title.$error" data-ng-hide="myForm.title.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	        	</div>
	      	</div>

	      	<div class="row">
	            <div class="input-field col s12">
	            	<h5>Note</h5>

	                <textarea id="body" name="body" class="materialize-textarea" data-ng-init="updatedNote.body = note.body" data-ng-model="updatedNote.body" required></textarea>

	                <i data-ng-show="myForm.body.$valid" data-ng-hide="myForm.body.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i data-ng-show="myForm.body.$error" data-ng-hide="myForm.body.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	            </div>
	       </div>
	    </form>
	</div>
</section>

<!-- Floating button that takes you to the new post page -->
<a href="" title="Update changed note" data-ng-click="updateNote()" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">done</i></a>