<!-- List of notes -->
<ul class="note-overview collection row">
	
	<div class="col s12 m6 l4" ng-repeat="note in results = (notes | filter:{ body: search.text, deleted: false } | orderBy:sort.options)">
		<li class="collection-item">
			<a href="#" ui-sref="note({ id: note.id })">
		    	<span class="title">{{ note.title }}</span>
		    </a>

		    <span class="date">{{ note.added_at | date:'mediumDate' }}</span>

		    <p>{{ note.body | limitTo:30 }}...</p>

		    <a href="#" class="delete" ng-click="deleteNote(note.id)"><i class="material-icons">delete</i></a>
		</li>
	</div>

	<!-- If list is empty we need to let the user know, we need two different ones for search and just empty -->
	<p ng-show="results.length == 0 && search.text.length == 0">You currently have no notes, to add a new note click the "+" in the right corner!</p>
	<p ng-show="results.length == 0 && search.text.length > 0">Your search yielded no results, please try a different phrase.</p>
	
</ul>

<!-- Floating button that takes you to the new post page -->
<a ui-sref="note-post()" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>