<section class="note-post">
	<div class="row">
	    <form name="myForm" class="note-form col s12">

	    	<div class="row">
	    	    <div class="input-field col s12">
	    	    	<h5>Title</h5>

	        	  	<input id="title" name="title" type="text" ng-model="note.title" ng-hide="settings.enableLocation" ng-disabled="settings.enableLocation" required>
	        	  	<input id="title" name="title" type="text" ng-model="location.db" ng-show="settings.enableLocation" required>

	        	  	<i ng-show="myForm.title.$valid" ng-hide="myForm.title.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i ng-show="myForm.title.$error" ng-hide="myForm.title.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	        	</div>
	      	</div>

	      	<div class="row">
	            <div class="input-field col s12">
	            	<h5>Note</h5>

	                <textarea id="body" name="body" class="materialize-textarea" ng-model="note.body" ng-init="note.body = ''" required> </textarea>

	                <i ng-show="myForm.body.$valid" ng-hide="myForm.body.$error" class="material-icons validation-icon validation-icon-valid">done</i>
	        	  	<i ng-show="myForm.body.$error" ng-hide="myForm.body.$valid" class="material-icons validation-icon validation-icon-invalid">close</i>
	            </div>
	       </div>

	       <div class="row" ng-show="error">
	       		<p class="error">{{ error }}</p>
	       </div>
	    </form>
	</div>
</section>

<!-- Floating button that takes you to the new post page -->
<a href="" ng-click="createNote()" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">done</i></a>