<section class="note-post">
	<form action="#">

			<!-- Settings #1 -->
	    	<div class="section">
	    	    <p>Enable the use of location to name your notes</p>

	    	    <div class="switch">
	    	        <label>
	    	          Off
	    	          <input type="checkbox" ng-model="settings.enableLocation">
	    	          <span class="lever"></span>
	    	          On
	    	        </label>
	    	    </div>
	    	</div>

	    	<div class="divider"></div>

	    	<!-- Settings #2 -->
	    	<div class="section">
	    	    <p>Enable deletion notification (incase you accidentally press delete on one of the notes)</p>

	    	    <div class="switch">
	    	        <label>
	    	          Off
	    	          <input type="checkbox" ng-model="settings.enableToasts">
	    	          <span class="lever"></span>
	    	          On
	    	        </label>
	    	    </div>
	    	</div>

	    	<div class="divider"></div>

	    	<!-- Information about how you can unpack and look through the applikation -->
	    	<div class="section">
	    		<p>If you for security reasons want to look through the source code of the application, you can do so by following the steps below:</p>

	    		<ol>
	    			<li>Unpack the .apk file to get the source content. If you don't know how to do this, you can follow this guide: <a href="http://forum.xda-developers.com/showthread.php?t=1108798">How to unpack .apk files</a>.</li>
	    			<li>Open the source folder with a text editor, and start browsing through the source code.</li>
	    			<li>The file "Config.xml" in the folders root directory includes the implemented security precautions.</li>
	    		</ol>
	    	</div>
	</form>

</section>