<section class="note-post">
	<form action="#">

			<!-- Settings #1 -->
	    	<div class="section">
	    	    <p>Enable the use of location to name your notes</p>

	    	    <div class="switch">
	    	        <label>
	    	          Off
	    	          <input type="checkbox">
	    	          <span class="lever"></span>
	    	          On
	    	        </label>
	    	    </div>
	    	</div>

	    	<div class="divider"></div>

	    	<!-- Settings #2 -->
	    	<div class="section">
	    	    <p>Enable deletion notification (incase you accidentally press delete on one of the notes)</p>

	    	    <div class="switch">
	    	        <label>
	    	          Off
	    	          <input type="checkbox">
	    	          <span class="lever"></span>
	    	          On
	    	        </label>
	    	    </div>
	    	</div>

	    	<div class="divider"></div>

	    	<!-- Import/export list -->
	    	<div class="section file-field input-field">
	    		<p>You can transfer yours lists between devices by importing/exporting</p>

    	      	<div class="btn">
    	        	<span>Import <i class="material-icons left">backup</i></span>
    	        	<input type="file" multiple>
    	      	</div>

    	      	<a class="waves-effect waves-light btn"><i class="material-icons left">cloud_download</i>Export</a>
	    	</div>

	    	<!-- clearfix for import/export -->
	    	<div class="clearfix"></div>
	    
	</form>

</section>