body {
    padding: 0;
    margin: 0;
    background: #E8EAF6;
    overflow: hidden;
}

* {
    box-sizing: border-box; /* Make sure elements include border when calculating widths */
}

a {
    color: black;
}

ol {
    padding-left: 20px; /* Align it with the other padding on the pages, so that it matches other elements */
}

.page-content {
    position: absolute;
    top: 64px; /* Height of page_nav */
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.nav-wrapper {
    padding: 0 15px;
}

nav {
    background: #3F51B5;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav h1 { /* Page logo */
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 24px;
    padding-right: 10px;
    font-size: 26px;
    font-weight: 200;
    margin: 0;
    margin-left: -15px; /* To account for the positioning */
    position: relative;
    display: inline-block;
}

.btn {
    margin-right: 10px;
    padding: 0 20px;
}

.btn-back {
    width: 32px;
    float: left;
}
.btn-back i {
    width: 32px;
}
.search-bar {
    position: absolute;
    left: 0;
    right: 55px;
}
.search-bar #search {

}
.search-bar .search-btn {
    right: 0;
    margin: 0;
    z-index: 9000;
}
.search-bar .search-btn i {
    float: right;
    padding-right: 15px;
}
.search-bar .close-btn {
    z-index: 9001;
    display: none;
}
.search-bar .close-btn.active {
    display: block;
}
.search-bar .search-btn.active i {
    float: left;
}

.submit-btn {
    width: 100%;
    margin-bottom: 20px;
    background: #3F51B5;
}

.collection {
    padding: 5px 10px;
    border: none;
    clear: both;
}
.collection .collection-item {
    background-color: white;
    margin: 5px 0;
    position: relative;
    padding: 10px 20px;
}
.collection .collection-item .date {
    color: #9FA8DA;
    float: right;
    font-size: 10px;
}
.collection .collection-item .delete {
    color: #EF5350;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.collection .collection-item p {
    border-top: 1px solid #E8EAF6;
    padding: 10px 0 10px 0;
    margin: 5px 0;
    font-size: 12px;
}

.dropdown-content li a {
    color: black;
    font-size: 14px;
}
.dropdown-content {
    width: 150px;
    border-radius: 2px;
    margin-top: 5px;
}
.dropdown-button {
    padding-right: 0;
    padding-left: 0;
}

.btn-floating {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
}
.btn-floating:active {
    box-shadow: 3px 3px #999;
}
.btn-floating i { /* The floating add/edit button */
    background: #303F9F;
}

.note-post {
    background: white;
    padding: 0 20px 10px 20px;
}
.note-post h5 {
    font-size: 16px;
    font-weight: 500;
}
.note-overview p {
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}

/* Validation classes */
.note-post input.ng-valid,
.note-post  textarea.ng-valid {
    border-bottom: 1px solid #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}
.note-post input.ng-invalid,
.note-post textarea.ng-invalid {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}
.note-post .validation-icon {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.note-post .validation-icon {
    position: absolute;
    bottom: 25px;
    right: 10px;
}
.note-post .validation-icon-valid {
    color: #4CAF50;
}
.note-post .validation-icon-invalid {
    color: #F44336;
}
.note-post .input-field {
    position: relative; /* So we can position inside this div */
}
.section {
    padding: 20px 0 30px 0;
}
.file-field {
    margin-top: 0;
}

/* Forms */
.note-form {
    margin-top: 20px;
}
.ng-touched.ng-invalid {

}

.error {
    background: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    max-width: 200px;
    text-align: center;
}

/* Toast */
.toast {
    padding: 10px 25px;
    background: #333;
    bottom: 20px;
    height: 30px;
    position: fixed;
    width: 100%;
    max-width: 300px;
    bottom: 10px;
    top: auto;
    left: 50%;
    margin-left: -150px; /* Half of the width */
    z-index: 1001;
}
.toast > * {
    float: left;
    color: white;
    padding: 0;
    font-size: 14px;
}
.toast .toast-btn {
    padding-left: 15px;
    color: #00E676;
    float: right;
}
